{% extends "blog/base.html" %} {% block content %}
<h1>Blog homepage!</h1>
{% for post in posts %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% if post.auhtor.profile and post.auhtor.profile.image %}
       <img class="rounded-circle article-img" src="{{ post.auhtor.profile.image.url }}">
      {% endif %}
      <a class="mr-2" href="#">{{ post.auhtor }}</a>
      <small class="text-muted">{{ post.date_posted }}</small>
    </div>
    <h2>
      <a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %} {% endblock content %}
